h1{ 
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
} 

img{
    border: 2px solid white;
    width: 350px;
    height: 220px;
    border-radius: 20px;
    transition: 0.3s;
}

img:hover{
    filter: brightness(70%);
    transform: scale(1.03);
}

html{
    overflow-y: scroll;
    scrollbar-width: none;
}

html::-webkit-scrollbar{
    display: none;
}

body{ 
    background-color: rgb(0, 0, 0); 
    margin: 0px;
    overflow: hidden;
}

.titl_t{
    color: rgb(255, 255, 255); 
    display: flex; 
    justify-content: center; 
    font-size: 180%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.lista{
    
    background-color: rgb(174, 184, 184); 
    border-radius: 15px; 
    width: 95%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
}

.titl_l{
    color :rgb(255, 255, 255); 
    display: flex; 
    justify-content: center; 
    font-size: 130%; 
    margin: 0px;
}

.listagem{
    display: flex; 
    justify-content: left; 
    font-size: 40px;
    color: rgb(255, 255, 255);
}

ul{
    list-style-type: square;
}

.listagem a{
    color: white;
    text-decoration: none;
}

.gremio{ 
    background-color: rgb(79, 133, 133); 
    border-radius: 15px;  
    width: 95%;
    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
} 

.titl_g{ 
    color :rgb(0, 0, 0); 
    display: flex; 
    justify-content: center; 
    font-size: 150%; 
    margin: 0px; 
} 

.hino_g{ 
    display: flex; 
    justify-content: center; 
    font-size: 28px;
    line-height: 1.5;
    padding: 20px;
    color :rgb(255, 255, 255); 
} 

.img_g{ 
    display: flex; 
    justify-content: center; 
    height: 220px;
    padding-bottom: 20px;
} 

.paranaense{
    background-color: rgb(168, 58, 58); 
    border-radius: 15px; 
    width: 95%;
    margin: 20px auto; 
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
}

.titl_a{ 
    color: rgb(0, 0, 0); 
    display: flex; 
    justify-content: center; 
    font-size: 150%; 
} 

.hino_a{ 
    display: flex; 
    justify-content: center; 
    font-size: 28px;
    line-height: 1.5;
    padding: 20px;
    color :rgb(255, 255, 255); 
} 

.img_a{ 
    display: flex; 
    justify-content: center; 
    height: 220px;
    padding-bottom: 20px;
} 

.barcelona{
    background-color: rgb(123, 38, 38); 
    border-radius: 15px; 
    width: 95%;
    margin: 20px auto; 
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
}

.titl_bar{ 
    color: rgb(232, 232, 11); 
    display: flex; 
    justify-content: center; 
    font-size: 150%; 
} 

.hino_bar{ 
    display: flex; 
    justify-content: center; 
    font-size: 28px;
    line-height: 1.5;
    padding: 20px;
    color :rgb(255, 255, 255); 
} 

.img_bar{ 
    display: flex; 
    justify-content: center; 
    height: 220px;
    padding-bottom: 20px;
} 

p{ 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    text-align: center; 
    text-decoration: underline;
} 

.brasil{
    background-color: rgb(47, 122, 49); 
    border-radius: 15px; 
    width: 95%;
    margin: 20px auto;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
}

.titl_b{ 
    color :rgb(255, 247, 0); 
    display: flex; 
    justify-content: center; 
    font-size: 150%; 
    margin: 0px; 
} 

.hino_b{ 
    display: flex; 
    justify-content: center; 
    font-size: 28px;
    line-height: 1.5;
    padding: 20px;
    color :rgb(255, 255, 255); 
} 

.img_b{ 
    display: flex; 
    justify-content: center; 
    height: 220px;
    padding-bottom: 20px;
} 

.tabela{
    background-color: rgb(174, 184, 184);  
    border-radius: 15px; 
    width: 95%;
    margin: 20px auto;
    padding-top: 30px;
    padding-bottom: 60px;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
}

.titl_tab{
    color :rgb(255, 255, 255); 
    display: flex; 
    justify-content: center;
    font-size: 140%; 
    margin-bottom: 50px;
}

.tab{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    width: 70%;
}

.tab th{
    background-color: rgb(244, 235, 235);
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 28px;
    border: 2px solid rgb(174, 184, 184);
}

.tab td{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 22px;
    text-align: center;
    font-size: 24px;
    border: 2px solid rgb(174, 184, 184);
}

.tab tr:hover td{
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    
}

.lista,
.gremio,
.paranaense,
.brasil,
.tabela{
    box-shadow: 0px 0px 15px rgba(255,255,255,0.15);
    transition: 0.3s;
}

.lista:hover,
.gremio:hover,
.paranaense:hover,
.barcelona:hover,
.brasil:hover,
.tabela:hover{
    transform: scale(1.01);
}
